.main-container {
    height: 60px;
}
.navbar {
    background-color: #171717 !important;
    box-shadow: 0.2em 0.2em 1em rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    padding: 5px 5px;
    height: 80px; 
    width:7xl;
}

.logo {
    width: 150px; 
    height: auto; 
    font-weight: bold;
}

nav {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-item{
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    transition: color 0.3s;
}
.nav-item:hover {
    color: #f1c40f;
}

